<div class="main-container">
  <div class="form-container">
    <div class="question-wrapper">

      <span class="question-number">Pregunta 1</span>

      <span class="question-title">¿Qué nos regalamos en nuestra primera cita?</span>

      <div class="question-image">
        <img src="../../../assets/img/gift.png" />
      </div>

      <div class="answer-container">
        <span class="answer-button">Anillos</span>
        <span class="answer-button">Piruletas</span>
        <span class="answer-button">Capibara</span>
        <span class="answer-button">No hubo regalos</span>
      </div>
    </div>
  </div>
</div>
