.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.form-container {
  background-image:
    linear-gradient(rgba(255, 235, 240, 0.8), rgba(255, 235, 240, 0.8)),
    url('../../../assets/img/form_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 1rem;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px #0000007a;
}

.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.4rem;
}

.question-wrapper .question-number {
  color: rgb(255, 94, 121);
  font-size: 1.3rem;
  padding: 1rem;
}

.question-wrapper .question-title {
  color: crimson;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1rem;
}

.question-image {
  width: 15rem;
}

.question-image img {
  width: 100%;
  height: 100%;
}

.answer-container {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 600px) {
  .answer-container {
    grid-template-columns: 1fr;
  }
}

.answer-button {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.answer-button:focus {
  outline: 0;
}

.answer-button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.answer-button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .answer-button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}




