@font-face {
  font-family: 'Delius';
  src: url('assets/fonts/Delius-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Delius';
}

body {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0f5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b1f8;
}

html, body, app-root {
  height: 100%;
  margin: 0;
  width:100vw;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
  min-height: 100vh;
}

app-home {
  display: flex;
  flex-direction: column;
  height: 100%;
}
